---
layout: default
---

<section id="toc-co-je-code-retreat">
    <h1>Co je coderetreat?</h1>
    {% include intro.html %}
    <a href="about.html" class="read-more">číst dál &raquo;</a>
</section>

<section id="toc-chci-se-zucastnit">
    <h1>Chci se zúčastnit</h1>

    <p>Svůj zájem o účast na akci můžete vyjádřit níže nebo na
        <a href="http://srazy.info/coderetreat">stránce akce</a>.</p>
    <h2><a href="/2015/11/14/global-day-praha.html">Praha</a></h2>
    <div class="srazy">
        <iframe src="http://srazy.info/widget/attending/5804" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:70px;" allowtransparency="true"></iframe>
    </div>

    <h2><a href="/2015/11/14/global-day-brno.html">Brno</a></h2>
    <div class="srazy">
        <iframe src="http://srazy.info/coderetreat/5804" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:70px;" allowtransparency="true"></iframe>
    </div>

    <h2><a href="/2015/11/14/global-day-olomouc.html">Olomouc</a></h2>
    <div class="srazy">
        <iframe src="http://srazy.info/coderetreat/5864" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:70px;" allowtransparency="true"></iframe>
    </div>

    <h2><a href="/2015/11/14/global-day-jihlava.html">Jihlava</a></h2>
    <div class="srazy">
      <iframe  src="//eventbrite.com/tickets-external?eid=18570159848&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
    </div>

    <p>Pro bližší informace sledujte náš twitter kanál @CoderetreatCZ, kde budeme o akci
        pravidelně informovat.</p>
    <h2>Pár tipů na přípravu</h2>
    <ul>
        <li><a href="http://blog.kolman.cz/2011/12/jak-se-pripravit-na-code-retreat.html">Dan Kolman - Jak se připravit na Coderetreat</a></li>
        <li><a href="http://rarous.net/weblog/412-trenujete-na-code-retreat.aspx">Aleš Roubíček - Trénujete na Coderetreat?</a></li>
    </ul>

    {% comment %}
    <p>V současné době není naplánovaná žádná coderetreat.
        Sledujte <a href="http://srazy.info/coderetreat">stránky akce</a>
        a&nbsp;náš twitter kanál <a href="https://twitter.com/coderetreatcz">@CoderetreatCZ</a>, kde budeme o připravovaných akcích informovat.<p>

    {% endcomment %}
</section>

<section id="toc-predesle-iterace">
    <h1>Předešlé iterace</h1>
    <ul class="entries">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
        {% endfor %}
    </ul>
</section>
