---
layout: default
---

<section id="toc-co-je-code-retreat">
    <h1>Co je code retreat?</h1>
    {% include intro.html %}
    <a href="about.html" class="read-more">číst dál &raquo;</a>
</section>

<section id="toc-chci-se-zucastnit">
    <h1>Chci se zúčastnit</h1>

    <p>Svůj zájem o účast na akci můžete vyjádřit níže nebo na
        <a href="http://srazy.info/coderetreat">stránce akce</a>.</p>
    <h2>Praha</h2>
    <div class="srazy">
        <iframe src="http://srazy.info/widget/attending/3838" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:70px;" allowtransparency="true"></iframe>
    </div>
    <h2>Vsetín</h2>
    <div class="srazy">
        <iframe src="http://srazy.info/widget/attending/3959" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:70px;" allowtransparency="true"></iframe>
    </div>
    <p>Pro bližší informace sledujte náš twitter kanál @CodeRetreatCZ, kde budeme o akci
        pravidelně informovat.</p>
    <h2>Pár tipů na přípravu</h2>
    <ul>
        <li><a href="http://blog.kolman.cz/2011/12/jak-se-pripravit-na-code-retreat.html">Dan Kolman - Jak se připravit na Code Retreat</a></li>
        <li><a href="http://rarous.net/weblog/412-trenujete-na-code-retreat.aspx">Aleš Roubíček - Trénujete na Code Retreat?</a></li>
    </ul>

    {% comment %}
    <p>V současné době není naplánovaná žádná code retreat.
        Sledujte <a href="http://srazy.info/coderetreat">stránky akce</a>
        a&nbsp;náš twitter kanál @CodeRetreatCZ, kde budeme o připravovaných akcích informovat.<p>

    {% endcomment %}
</section>

<section id="toc-predesle-iterace">
    <h1>Předešlé iterace</h1>

    <ul class="entries">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
        {% endfor %}
    </ul>

</section>
